# Using Data in Pandas

Using pandas--a brief guide to learning data-visualisation. Learning to work with data.

In [1]:
import pandas as pd
# dataset: AppleStore (data of applications on apple-store)
dataframe = pd.read_csv('./AppleStore.csv')
dataframe.head(3)

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
1,2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
2,3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1

In [3]:
df = dataframe
# We use `df` as shortname for dataframe. 
df.iloc[2]

Unnamed: 0                                                        3
id                                                        281940292
track_name          WeatherBug - Local Weather, Radar, Maps, Alerts
size_bytes                                                100524032
currency                                                        USD
price                                                             0
rating_count_tot                                             188583
rating_count_ver                                               2822
user_rating                                                     3.5
user_rating_ver                                                 4.5
ver                                                           5.0.0
cont_rating                                                      4+
prime_genre                                                 Weather
sup_devices.num                                                  37
ipadSc_urls.num                                                   5
lang.num                                                          3
vpp_lic                                                           1
Name: 2, dtype: object

- Use `.iloc` to access a row, most simply; Use it as - `dataframe.iloc[row-index]` (from as usual, first row as zero, just like list indices).

- Method `.loc` can be used for passing a value from your dataframe's index (some unique-id) as `dataframe.loc[unique-id]`

In [21]:
df.iloc[[2, 1, 0]]

,Unnamed: 0,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
id,,,,,,,,,,,,,,,,
281940292,3,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
281796108,2,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
281656475,1,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1

**Slicing the dataframe works as if it were a list.**

In [22]:
df[:3]

,Unnamed: 0,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
id,,,,,,,,,,,,,,,,
281656475,1,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
281796108,2,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
281940292,3,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1

In [23]:
df[2:7]

,Unnamed: 0,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
id,,,,,,,,,,,,,,,,
281940292,3,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
282614216,4,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
282935706,5,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1
283619399,6,Shanghai Mahjong,10485713,USD,0.99,8253,5516,4.0,4.0,1.8,4+,Games,47,5,1,1
283646709,7,PayPal - Send and request money safely,227795968,USD,0.00,119487,879,4.0,4.5,6.12.0,4+,Finance,37,0,19,1

In [24]:
df['track_name'].head(3)

# df.track_name.head(3) works the same.

id
281656475                                    PAC-MAN Premium
281796108                          Evernote - stay organized
281940292    WeatherBug - Local Weather, Radar, Maps, Alerts
Name: track_name, dtype: object

We can access a single column as if it were an attribute, but only if the name has no spaces, uses only basic characters, and doesn't share a name with a dataframe method--too much! Duhh!. **'Python-Keep-In-Mind'**: Use names (column names--here) with proper name, and use '_' in place of ' '.

**A nice cleaning function for such tidier situation.**

In [29]:
df.columns = [col.replace(' ', '_').lower() for col in df.columns]
print(df.columns)

Index(['unnamed:_0', 'track_name', 'size_bytes', 'currency', 'price',
       'rating_count_tot', 'rating_count_ver', 'user_rating',
       'user_rating_ver', 'ver', 'cont_rating', 'prime_genre',
       'sup_devices.num', 'ipadsc_urls.num', 'lang.num', 'vpp_lic'],
      dtype='object')

In [30]:
df[['price', 'size_bytes']]

            price  size_bytes
id
281656475    3.99   100788224
281796108    0.00   158578688
281940292    0.00   100524032
282614216    0.00   128512000
282935706    0.00    92774400
283619399    0.99    10485713
283646709    0.00   227795968
284035177    0.00   130242560
284666222    9.99    49250304
284736660    3.99    70023168
284791396    4.99    49618944
284815117    7.99   227547136
284815942    0.00   179979264
284847138    0.00   160925696
284862767    4.99    55153664
284876795    0.00   207907840
284882215    0.00   389879808
284910350    0.00   167407616
284993459    0.00   147093504
285005463    2.99    10735026
285946052    1.99    70707916
285994151    2.99     6169600
286058814    0.00   130583552
286070473    5.99    71203840
286799607    3.99    11423008
286906691    0.00   188017664
286911400    0.00     4765696
288113403    0.00   287933440
288120394    4.99     4263936
288419283    9.99   172772352
...           ...         ...
1182265441   0.00   177498112
1182331762   0.00    89188352
1182568288   2.99    32685056
1183234072   0.00    26077184
1183260922   0.00   143346688
1183548754   3.99   242505728
1183709176   0.99    18164736
1183856228   0.00   169535488
1183986102   0.00    64244736
1184711626   0.00   184324096
1184800011   0.00    33946624
1185209084   0.99   327731200
1185328193   0.00   113382400
1185365336   0.00    94008320
1185428381   0.99   178160640
1185538497   0.00     9362432
1185580782   3.99    57349120
1185731859   0.00   171944960
1185777521   0.99   208026624
1186108496   0.00    85580800
1186126548   0.00    52342784
1186384912   0.00   168774656
1187128255   0.99   537462784
1187279979   2.99    22999040
1187282363   2.99    27853824
1187617475   0.00   126644224
1187682390   0.00   120760320
1187779532   1.99   111322112
1187838770   0.00    97235968
1188375727   0.00    90898432

[7197 rows x 2 columns]

Above queries is good when need to stack up multiple column names.

- Passing a list will give different return type -- with unique id, `Name` and `dtype`.

In [31]:
df.track_name.iloc[2]

'WeatherBug - Local Weather, Radar, Maps, Alerts'

In [32]:
df.track_name.iloc[[2]]

id
281940292    WeatherBug - Local Weather, Radar, Maps, Alerts
Name: track_name, dtype: object

### Selecting a Subset of the Data

In [35]:
(df.track_name == "WeatherBug - Local Weather, Radar, Maps, Alerts").head(3)

id
281656475    False
281796108    False
281940292     True
Name: track_name, dtype: bool

In [36]:
df[df.track_name == "WeatherBug - Local Weather, Radar, Maps, Alerts"]

,unnamed:_0,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadsc_urls.num,lang.num,vpp_lic
id,,,,,,,,,,,,,,,,
281940292,3,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.0,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1

We can use complicated logical expressions -- including lambda. For example,

In [37]:
df.columns

Index(['unnamed:_0', 'track_name', 'size_bytes', 'currency', 'price',
       'rating_count_tot', 'rating_count_ver', 'user_rating',
       'user_rating_ver', 'ver', 'cont_rating', 'prime_genre',
       'sup_devices.num', 'ipadsc_urls.num', 'lang.num', 'vpp_lic'],
      dtype='object')

In [40]:
df[(df.user_rating > 4.5) | (df.price > 10.0)].head(3)

,unnamed:_0,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadsc_urls.num,lang.num,vpp_lic
id,,,,,,,,,,,,,,,,
285994151,23,:) Sudoku +,6169600,USD,2.99,11447,781,5.0,5.0,5.2.6,4+,Games,40,5,1,1
298206806,74,iReal Pro - Music Book & Play Along,63283200,USD,12.99,1390,143,4.5,5.0,7.0.1,4+,Music,37,5,33,1
299029654,77,大辞林,210088960,USD,21.99,64,0,4.5,0.0,4.1.1,4+,Reference,37,5,2,1

We can use `.isin` to get all values equal to a given value.

In [42]:
df[df.user_rating.isin(['5.0'])].head()

,unnamed:_0,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadsc_urls.num,lang.num,vpp_lic
id,,,,,,,,,,,,,,,,
285994151,23,:) Sudoku +,6169600,USD,2.99,11447,781,5.0,5.0,5.2.6,4+,Games,40,5,1,1
335545504,262,King of Dragon Pass,364490752,USD,9.99,882,85,5.0,5.0,2.3.2,12+,Games,43,5,1,1
342548956,305,TurboScan™ Pro - document & receipt scanner: s...,8821760,USD,4.99,28388,7009,5.0,5.0,2.8.2,4+,Business,38,5,9,1
350642635,341,Plants vs. Zombies,105379840,USD,0.99,426463,680,5.0,4.0,1.9.13,9+,Games,38,0,5,1
353372460,357,Learn to Speak Spanish Fast With MosaLingua,48819200,USD,4.99,9,1,5.0,5.0,9.2,12+,Education,38,5,5,1

## Selecting and Filtering Data

Datasets have too many variables to wrap around. Selecting and filtering helps. Let's work with functions, and how to do that.

In [2]:
import pandas as pd

filepath = './AppleStore.csv'
df = pd.read_csv(filepath) # DataFrame
print(df.columns)

Index(['Unnamed: 0', 'id', 'track_name', 'size_bytes', 'currency', 'price',
       'rating_count_tot', 'rating_count_ver', 'user_rating',
       'user_rating_ver', 'ver', 'cont_rating', 'prime_genre',
       'sup_devices.num', 'ipadSc_urls.num', 'lang.num', 'vpp_lic'],
      dtype='object')

### Select Single Column

Use **dot-notation** to pull out a variable or column -- as *dataframe.column_name*.

**NOTE**: Single column of data is stored in Series, which is broadly like a DataFrame with only a single column of data.

In [3]:
df.price.head()

0    3.99
1    0.00
2    0.00
3    0.00
4    0.00
Name: price, dtype: float64

### Select Multiple Column

By providing a list of column names. Like -

In [4]:
two_col_data = df[['price', 'user_rating']]

`describe()` method calculates basic count, mean, std, ... and much more.

In [5]:
two_col_data.describe()

             price  user_rating
count  7197.000000  7197.000000
mean      1.726218     3.526956
std       5.833006     1.517948
min       0.000000     0.000000
25%       0.000000     3.500000
50%       0.000000     4.000000
75%       1.990000     4.500000
max     299.990000     5.000000